muielf
*.map
*.objdump
rmap.bin
vmuielf
kernel.ld
vmjari
tags
*~
*.o
*.a
Project.ede
*.img
bochsrc
TAGS
config
.config
.config.old
include/arch
kconfig/conf
kconfig/lex.*
kconfig/mconf
kconfig/zconf.hash.*
kconfig/zconf.tab.*
