# main memory manager configuration

menu "Memory manager"

config KCORE_STACK_PAGES
       int "Kernel core stack pages"
       range 2 8
       default "2"
       help
         You may specify number of kernel core stack pages.
         Strictly speaking it's a kernel stack size.

choice 
       prompt "Choice default page allocator"
       default TLSF

config TLSF
       bool "TLSF O(1) allocator"

endchoice

config DEBUG_MM
       bool "Enable memory manager main debugging"
       default n
       help
         Enable general memory manager debugging. If the option is enabled
         various runtime checks and special debug functions will execute.
         Also some debug API will be compiled.

config DEBUG_PTABLE
       bool "Debug low-level page table interface"
       default n
       select DEBUG_MM
       help
         Enabling of this option causes displaying of various page-tables related
         verbose information and some external runtime checks. In general it shouldn't
         strongly affect the speed.

endmenu
