# main memory manager configuration

menu "Memory manager"

config KCORE_STACK_PAGES
       int "Kernel core stack pages"
       range 2 8
       default "2"
       help
         You may specify number of kernel core stack pages.
         Strictly speaking it's a kernel stack size.

choice
        prompt "Select page allocator"
        ---help---
        Here you may select physical page frames allocator

          
config PFA_TLSF
       bool "TLSF"
endchoice

config PFA_MAX_PAGES
       int "Max quantity of page frames system may allocate dynamically"
       range 32 2048
       default "256"
       help
         Max number of pages given page allocator may allocate.

config DEBUG_MM
       bool "Enable memory manager main debugging"
       default n
       help
         Enable general memory manager debugging. If the option is enabled
         various runtime checks and special debug functions will execute.
         Also some debug API will be compiled.

config DEBUG_PTABLE
       bool "Debug low-level page table interface"
       default n
       select DEBUG_MM
       help
         Enabling of this option causes displaying of various page-tables related
         verbose information and some external runtime checks. In general it shouldn't
         strongly affect the speed.

endmenu
