# amd64 configuration
mainmenu "MuString Kernel Configuration for amd64"

config AMD64
       def_bool y
       bool "AMD64 architecture"
       default ARCH = "amd64"

menu "Processor features"
     depends on AMD64

config APIC
       bool "Use APIC"
       default y
       help
         Select this option if you want to use APIC instead of
         old-fation PIC

config SMP
       default y
       bool "Symmetric multi-processing support"
       select APIC

config NRCPUS
       int "Maximum number of CPUs (2-64)"
       range 2 64
       depends on SMP
       default "2"
       help
         Here you may specify number of CPUs supported by the kernel.
         You may enter any number between 2 and 64.

config IOMMU
       bool "Use IOMMU"
       default y

endmenu

menu "Memory manager"
     depends on AMD64

config KCORE_STACK_PAGES
       int "Kernel core stack pages"
       range 2 8
       default "2"
       help
         You may specify number of kernel core stack pages.
         Strictly speaking it's a kernel stack size.

source "mm/Kconfig"
endmenu

source "kernel/Kconfig"
source "tests/Kconfig"
source "ds/Kconfig"

config EMU
	bool "Make MuiString for running on emulator"
	default y
